.header {
  display: flex;
  padding-top: 120px;
  height: 400;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #faad28;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}

/* Adustment for screens above tablet size. Enables two columns instead of one */

@media only screen and (min-width: 1024px) {
   
  .header {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 3%;
    margin-top: 14%;
    padding-top: 20px;
    justify-content: flex-start;
    height: 375px;
  }

}