.nav {
  display: flex;
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  position: fixed; 
  top: 0; 
  width: 100%; 
}

@media only screen and (max-width: 1024px) {
   
  .nav {
    background-color: transparent;
    position: absolute;
  }

}